* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

html {
    background-color: rgb(188, 211, 253);
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

main {
    background-color: white;
    padding: 20px;
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
}

main h1 {
    width: fit-content;
    font-family: Geneva, Tahoma, sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
}

main h1::after {
    content: '';
    margin-top: 5px;
    display: block;
    height: 4px;
    width: 95%;
    justify-self: center;
    background: linear-gradient(to right, #b5b6f1, #9aaae8);
    border-radius: 8px;
}

main button.generate-palette {
    align-self: flex-start;
    border-radius: 30px;
    padding: 10px 20px;
    background: linear-gradient(to right, #7d7cf1, #b06ee0);
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

main button.generate-palette:hover {
    transform: translateY(-2px);
}

main button.generate-palette:active {
    transform: translateY(2px);
}

.colors {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: 100%;
    gap: 15px;
}

.colors>div {
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.3s;
    border: none;
    height: 130px;
}

.colors>div:hover {
    transform: translateY(-10px);
}

.color-item {
    /* background-color: #BB7BEF; */
    display: flex;
    align-items: end;
    cursor: pointer;
}

.color-item div {
    width: 100%;
    padding: 10px;
    background-color: #aaa;
    font-size: 0.8rem;
    color: black;
    background-color: rgb(236, 236, 236);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.color-item div i.fa-copy {
    color: #888;
    border-radius: 8px;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.color-item:hover div i.fa-copy {
    color: #2D953e;
}

.color-item div i.fa-check {
    color: #2D953e;
    display: none;
}

.color-item.copying {
    & i.fa-copy {
        display: none;
    }

    & i.fa-check {
        display: block;
    }
}

.color-item div .text {
    user-select: none;
}



@media(max-width: 650px) {
    body {
        align-items: flex-start;
        padding: 10px;
    }
}